body {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-content: center;
}
#main {
  display: flex;
  gap: 2rem;
}
.city-container {
  margin-left: 1rem;
}
.town-container {
  margin-left: 2rem;
}
h1 {
  color: #27aedb;
  text-align: center;
}

button {
  color: #27aedb;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.bg-pink {
  background-color: pink;
}
